.title {
    cursor: pointer;
}   



/*
    후보자 이름 리스트 구성
*/
td {
    width: 70px;
}

tr {
    margin-bottom: 5px;
}



.container {
    width: 98%;
    border-radius: 10px;
    background:  #f2f2f2;
    padding: 15px;
    margin: 0 auto;
}

.innerContainer {
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    /* background: #DCDCDF; */
    padding: 15px;
}

.mapContainer {
    /* display: flex; */
    /* align-items: center; */
}

.map {
    width:100%;
    height:400px;
}

.mapMenu {
    display: flex;
    margin-bottom: 5px;
}

.placeInfo {
    text-align:center;
    padding:3px 2px 2px 3px;
}

.mapLoadingInfo {
    margin-left: 10px;
    display: none;
}


.clickable {
    text-decoration: none;
    position: relative;
    color: black;
    cursor: pointer; 
}

.clickable:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.clickable:hover:before {
    visibility: visible;
    transform: scaleX(1);
}



/*
    selectbox
*/

select {
    width: 20%;
    padding: 0.25em 2px 0.25em 0.25em;
    margin-right: 10px;
    border: 0;
    border-bottom: 2px solid currentcolor;
    font-weight: bold;
    letter-spacing: 0.15em;
    border-radius: 0;
    /* display: inline-block; */
}
select:focus, select:active {
    outline: 0;
    border-bottom-color: black;
}


/*
    modal
*/
.modal,
.modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0,0,.3,1.6);
}

.modal-header {
  padding: 20px 40px;
  background: #546E7A;
  color: #ffffff;
}

.modal-body {
  background: #ECEFF1;
  padding: 60px 40px;
}

/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
}

/* Animation */
@-webkit-keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}
