@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.title {
    color: black;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 70px;
}


